body {
 background: linear-gradient(rgb(0, 162, 255), rgb(80, 80, 80));
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100vh;
}

.tile-title {
 display: flex;
 flex-flow: row nowrap;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: center;
 align-content: space-evenly;
}

.music-tiles {
 display: flex;
 flex-flow: row nowrap;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: center;
 align-content: space-evenly;
}

.set-width{
 white-space: nowrap; 
 width: 200px; 
 overflow: hidden;
 text-overflow: ellipsis; 
}